.fa {
    font-size: 32px;
}
.fa-trash:hover {
    color: red;
}
.fa-edit:hover {
    color: lightgreen;
}
table, td, th {
    border: 1px solid black;
    text-align: left;
    margin 4px 2px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 15px;
}
input {
    width: 100%;
    border: 2px solid black;
    border-radius: 0px;
    padding: 16px 8px;
    margin: 4px 2px;
}
label {
    font-size: 20px;
}
input:focus {
    background-color: lightgreen;
}

input[type=submit] {
    font-size: 30px;
    background-color: #4CAF50;
    color: white;
    padding: 16px 32px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}


.error {
    font-size: 9;
    color: red;
    margin: 4px 2px;
}